<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>{{name}}</h1>
      <h1>{{age}}</h1>
      <h1>{{skills}}</h1>

      <ul>
        {% for skill in skills %}
        <li>{{skill}}</li>
        {% endfor %}
      </ul>
      {% if skills|length > 3%}
      <h2>Vu have more than 3 skills</h2>
      {% elif 'Django' in skills %}
      <h2>Vu knows Django</h2>
      {% endif %}
    </center>
  </body>
</html>
