{% load static %}
<!doctype html>
<html lang="vi">  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập - LapStore</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'core/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'core/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'core/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'core/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'core/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'core/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'core/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'core/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'core/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'core/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'core/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'core/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
  </head>
  <body>
    <div class="auth-card">
      <div class="auth-header">
        <a href="{% url 'core:home' %}" class="logo">
          <i class="fa-brands fa-shopify" style="color: #ff1a1a;"></i> LapStore
        </a>
        <p class="subtitle">
          Hệ thống bán lẻ công nghệ hàng đầu
        </p>
      </div>


      <div class="auth-tabs">
        <button class="tab-btn active"  id="tab-login" >
          Đăng nhập
        </button>
        <button class="tab-btn" onclick="window.location.href='{% url 'users:register' %}'" id="tab-register">
          Đăng ký
        </button>
      </div>

      <div id="form-login" class="form-container active">
        <form id="login-form-element" method="POST" action="{% url 'users:login' %}">
          {% csrf_token %} 
          <div class="form-group">
            <i class="fa-regular fa-envelope input-icon"></i>
            <input type="text" id="input-login-username" name="username" class="form-input" placeholder="Tên đăng nhập" required autofocus>
          </div>
          
          <div class="form-group">
            <i class="fa-solid fa-lock input-icon"></i>
            <input type="password" id="input-login-password" name="password" class="form-input" placeholder="Mật khẩu" required>
          </div>
          
          <p class="login-error-message" id= "login-error-message"> </p>

          <div class="auth-options">
            <label class="remember-label">
              <input type="checkbox" name="remember_me" style="accent-color: #ff0000;"/> Nhớ tài khoản
            </label>
            <a href="#">Quên mật khẩu?</a>
          </div>

          <button type="submit" class="btn-submit">ĐĂNG NHẬP</button>
        </form>
      </div>
    </div>
    

    <script src="{% static 'users/js/main.js' %}"></script>
  </body>
</html>