{% extends 'core/base.html' %} 
{% load static %} 
{% block title %}{{p.name}}
{% endblock %} 
{% block content %}
<!-- DJANGO: dynamic -->
<div class="breadcrumb">
  <a href="{% url 'core:home' %}">Trang chủ</a> /
  <a href="{% url 'products:view-all-products' %}">Laptop</a> /
  <a href="#">{{p.brand}}</a>
</div>

<div class="detail-grid">
  <div class="gallery-box">
    <div class="main-img-wrap">
      <!-- DJANGO: ảnh -->
      <img
        id="mainImage"
        src="{% if p.images.first %}{{ p.images.first.image_url }}{% else %}{% static 'core/img/placeholder.png' %}{% endif %}"
        alt="{{ p.name }}"
      />
    </div>
    <div class="thumb-list">
      <!-- DJANGO: Loop product images -->
        {% if p.images.first %}
        <div class="thumb-item active" 
            onclick="changeImage(this, '{{ p.images.first.image_url }}')">
            <img src="{{ p.images.first.image_url }}" alt="Ảnh gốc" />
        </div>
        {% endif %}

        {% for img in p.images.all|slice:"1:" %}
        <div class="thumb-item" 
            onclick="changeImage(this, '{{ img.image_url }}')">
            <img src="{{ img.image_url }}" alt="Ảnh phụ" />
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="prod-info">
    <h1 class="prod-title">
      {{p.name}}
    </h1>

    <div class="prod-meta">
      <!-- DJANGO: {{ product.rating }} -->
      <div class="rating">
        <i class="fa-solid fa-star"></i> {{ p.avg_rating|default:0|floatformat:1 }} ({{p.reviews.count}} đánh giá)
      </div>
      <div>
        Trạng thái: 
        {% if p.inventory and p.inventory.quantity > 0 %}
          Còn hàng
        {% else  %}
          Hết hàng
        {% endif %}
      </div>
    </div>

    <div class="price-row">
      <!-- DJANGO  -->
      <span class="current-price">{{p.price_vn}}</span>
      <span class="old-price">{{p.discount_price_vn}}</span>
      <span class="discount-tag">-15%</span>
    </div>

    <!-- DJANGO: Loop Variants (Colors) -->
    {% if p.is_lap %}
    <div class="option-group">
      <label class="option-label">Màu sắc</label>
      <div class="option-list">
        <button class="opt-btn active">Đen (black)</button>
      </div>
    </div>

    <!-- DJANGO: Loop Variants (Config) -->
    <div class="option-group">
      <label class="option-label">Cấu hình (RAM / SSD)</label>
      <div class="option-list">
        <button class="opt-btn active">{{ p.laptop_config.ram_desc|slice:":4" }} / {{ p.laptop_config.storage_desc }}</button>
      </div>
    </div>
    {% endif %}

    <div class="promo-box">
      <div class="promo-head">
        <i class="fa-solid fa-gift"></i> Ưu đãi Lì Xì Tết
      </div>
      <ul class="promo-list">
        <li>
          <i class="fa-solid fa-check-circle"></i> Giảm thêm 500.000đ cho Học
          sinh - Sinh viên.
        </li>
        <li>
          <i class="fa-solid fa-check-circle"></i> Tặng Túi chống sốc cao cấp
          trị giá 350.000đ.
        </li>
        <li>
          <i class="fa-solid fa-check-circle"></i> Giảm 20% khi mua kèm Chuột
          Magic Mouse.
        </li>
        <li>
          <i class="fa-solid fa-check-circle"></i> Hỗ trợ cài đặt phần mềm miễn
          phí trọn đời.
        </li>
      </ul>
    </div>

    <div class="action-group">
      <!-- DJANGO: Add to cart form/action -->
      <button
        class="btn-main btn-buy"
        onclick="window.location.href = '{% url 'orders:cart' %}'"
      >
        MUA NGAY
        <span>(Giao hàng tận nơi hoặc nhận tại cửa hàng)</span>
      </button>
      <button
        class="btn-main btn-cart"
        onclick="alert('Đã thêm sản phẩm vào giỏ hàng!')"
      >
        <i class="fa-solid fa-cart-plus"></i>
      </button>
    </div>
  </div>
</div>

<div class="content-grid">
  <div class="content-block">
    <h3 class="block-title">Đặc điểm nổi bật</h3>
    <!-- DJANGO: {{ product.description|safe }} -->
    <p style="margin-bottom: 15px; color: #4b5563">
      {{p.description}}
    </p>
    {% for img in p.images.all %}
      {% if img.image_url_feature %}
        <img
          src="{{ img.image_url_feature }}"
          style=
         " border-radius: 12px; 
          margin-top: 10px;
          max-witdh: 790px;
          max-height: 500px;"
          alt="Đặc điểm nổi bật"
        />
      {% endif %}
    {% endfor %}
  </div>

  <div class="content-block">
    <h3 class="block-title">Thông số kỹ thuật</h3>
    <!-- DJANGO: Loop specifications -->
    {% if p.is_laptop %}
    <table class="specs-table">
      <tr>
        <td>CPU</td>
        <td>{{p.laptop_config.cpu}}</td>
      </tr>
      <tr>
        <td>RAM</td>
        <td>{{p.laptop_config.ram_desc}}</td>
      </tr>
      <tr>
        <td>Ổ cứng</td>
        <td>{{p.laptop_config.storage_desc}}</td>
      </tr>
      <tr>
        <td>Màn hình</td>
        <td>{{p.laptop_config.screen_desc}}</td>
      </tr>
      <tr>
        <td>Card màn hình</td>
        <td>{{p.laptop_config.vga}}</td>
      </tr>
      <tr>
        <td>Cổng kết nối</td>
        <td>Đầy đủ</td>
      </tr>
      <tr>
        <td>Pin</td>
        <td>{{p.laptop_config.battery}}</td>
      </tr>
      <tr>
        <td>Trọng lượng</td>
        <td>{{p.laptop_config.weight}} kg</td>
      </tr>
      <tr>
        <td>Led phím: </td>
        <td>Có</td>
      </tr>
    </table>
    {% elif p.is_vga %}
    <table class='specs-table'>
      <tr>
       <td>Hãng sản xuất </td>
       <td>{{p.brand}}</td>
      </tr>
      <tr>
        <td>
          Công nghệ
        </td>
       <td>{{p.accessory_config.detail_1}}</td>
      </tr>
      <tr>
        <td>
          Nhân CUDA
        </td>
       <td>{{p.accessory_config.detail_2}}</td>
      </tr>

      <tr>
        <td>
          Bộ nhớ
        </td>
       <td>{{p.accessory_config.detail_3}}</td>
      </tr>

      <tr>
        <td>
          Xung nhịp
        </td>
       <td>{{p.accessory_config.detail_4}}</td>
      </tr>

      <tr>
        <td>
          Kết nối
        </td>
       <td>{{p.accessory_config.detail_5}}</td>

    </table>
    {% elif p.is_cpu %}
    <table class='specs-table'>
      <tr>
       <td>Hãng sản xuất </td>
       <td>{{p.brand}}</td>
      </tr>
      <tr>
        <td>
          Số nhân
        </td>
       <td>{{p.accessory_config.detail_1}}</td>
      </tr>
      <tr>
        <td>
          Số luồng
        </td>
       <td>{{p.accessory_config.detail_2}}</td>
      </tr>
      
      <tr>
       
        <td>
         TDP Max
        </td>
       <td>{{p.accessory_config.detail_3}}</td>
      </tr>

      <tr>
        <td>
          Tốc độ tối đa
        </td>
       <td>{{p.accessory_config.detail_4}}</td>
      </tr>

      <tr>
        <td>
         Xung nhịp tối đa
        </td>
       <td>{{p.accessory_config.detail_5}}</td>
       </table>
    {% elif p.is_ram %}
    <table class='specs-table'>
      <tr>
       <td>Hãng sản xuất </td>
       <td>{{p.brand}}</td>
      </tr>
      <tr>
        <td>
          Dung luợng
        </td>
       <td>{{p.accessory_config.detail_1}}</td>
      </tr>
      <tr>
        <td>
          Tốc độ
        </td>
       <td>{{p.accessory_config.detail_2}}</td>
      </tr>
      <tr>
        <td>
          Điện áp
        </td>
       <td>{{p.accessory_config.detail_3}}</td>
      </tr>
      <tr>
        <td>
          Loại RAM
        </td>
       <td>{{p.accessory_config.detail_4}}</td>
      </tr>
      <tr>
        <td>
          Độ trễ
        </td>
       <td>{{p.accessory_config.detail_5}}</td>
      </tr>
      </table>

    
    {% endif %}
  </div>
</div>

<!-- Review Section -->
<div class="content-block review-section" style="margin-bottom: 50px">
  <h3 class="block-title">Đánh giá & Nhận xét</h3>

  <div class="review-dashboard">
    <!-- DJANGO: Avg rating star -->
    <div class="rating-summary">

        <div class="average-score">
          {{p.avg_rating|default:0|floatformat:1}}
        </div>

      <div class="stars-display">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half-stroke"></i>
      </div>
      <div class="total-reviews">{{p.reviews_set.count}} đánh giá</div>
  </div>

    <!-- DJANGO: Review Form (POST) -->
    <div class="review-form-box">
      <h4>Viết đánh giá của bạn</h4>
      <div class="form-rating-select">
        <span>Bạn cảm thấy thế nào:</span>
        <div class="star-input">
          <i class="fa-regular fa-star" data-value="1"></i>
          <i class="fa-regular fa-star" data-value="2"></i>
          <i class="fa-regular fa-star" data-value="3"></i>
          <i class="fa-regular fa-star" data-value="4"></i>
          <i class="fa-regular fa-star" data-value="5"></i>
        </div>
      </div>
      <textarea
        class="review-textarea"
        placeholder="Mời bạn chia sẻ cảm nhận về sản phẩm..."
      ></textarea>
      <button
        class="btn-submit-review"
        onclick="alert('Cảm ơn bạn đã đánh giá!')"
      >
        Gửi đánh giá
      </button>
    </div>
  </div>

  <div class="review-list">

    <!-- DJANGO: Loop Reviews -->
     {% for r in reviews|slice:4 %}
     <div class="review-item">
      <div class="reviewer-info">
        <div class="avatar">
          {% if r.avatar %}
            <img src="{{ r.avatar }}" alt="{{ r.username }}">
          {% else %}
            {{ r.username|slice:":1"|upper }}
          {% endif %}
        </div>
        <div>
          <div class="reviewer-name">{{ r.full_name|default:r.username }}</div>
          <div class="review-time">{{ r.created_at|date:"d/m/Y" }}</div>
        </div>
      </div>
      <div class="review-rating">
        {% for i in "12345" %}
          {% if forloop.counter <= r.rating %}
            <i class="fa-solid fa-star"></i>
          {% else %}
            <i class="fa-regular fa-star" style="color:#e5e7eb"></i>
          {% endif %}
        {% endfor %}
      </div>
      <p class="review-text">
       {{ r.comment }}
      </p>
    </div>
     {% endfor %}
    
  </div>
</div>

<!-- Video Section -->
 
<div class="content-block video-section" style="margin-bottom: 50px">
  <h3 class="block-title">Video đánh giá chi tiết</h3>
  <div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/rqz3sc67_jc?si=Lm6_bjLFVILMZ69G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>

<div class="mobile-bar">
  <button class="m-btn m-add" onclick="alert('Đã thêm sản phẩm vào giỏ hàng!')">
    <i class="fa-solid fa-cart-plus"></i> Thêm vào giỏ
  </button>
  <button
    class="m-btn m-buy"
    onclick="window.location.href = '{% url 'orders:cart' %}'"
  >
    Mua Ngay
  </button>
</div>
{% endblock %}
  